*{
  background:linear-gradient(to right, blue, purple);
  color: #fff;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  padding: 12px 24px;
  background: #111;
  border: 1px solid #fff;
  border-radius: 10%;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 20px;
  outline: none;
}